<footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto flex flex-wrap justify-between items-start px-4">
        <!-- Footer Logo -->
        <a href="/" class="flex items-center text-white">
            <i class="fa-solid fa-hotel text-4xl text-teal-400"></i>
            <span class="text-2xl font-semibold ml-2">WanderLust</span>
        </a>

        <!-- Footer Links -->
        <div class="w-full md:w-auto mb-6">
            <ul class="space-y-4 md:space-y-0 md:flex md:space-x-6">
                <li><a href="/" class="text-white text-lg hover:text-yellow-500">Home</a></li>
                <li><a href="/listings" class="text-white text-lg hover:text-yellow-500">Listings</a></li>
                <li><a href="/" class="text-white text-lg hover:text-yellow-500">About</a></li>
                <li><a href="/" class="text-white text-lg hover:text-yellow-500">Contact</a></li>
            </ul>
        </div>

        <!-- Footer Social Links -->
        <div class="w-full md:w-auto">
            <div class="flex gap-6">
                <a href="#" class="text-white text-lg hover:text-yellow-500"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#" class="text-white text-lg hover:text-yellow-500"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" class="text-white text-lg hover:text-yellow-500"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="text-center mt-8">
        <p class="text-sm">&copy; 2025 HotelBooking. All rights reserved.</p>
    </div>
</footer>
